.App {
  text-align: center;
}

.playingCards {
  padding-top: 30px;
}

.btn {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}

#change {
  font-size: 13px;
}

#change span {
  font-weight: bold;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.win-rate {
  font-weight: bold;
}

.total-cash {
  margin-left: 20px;
  font-size: 14px;
}